.auth {
}
.auth__header {
  height: 5px;
}
.auth_title_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
img.logo {
  width: 115px;
  height: 80px;
  object-fit: cover;
}
.auth__titles {
  font-size: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}